:root {
  --main-color: #4153e4;
  --black-1: #000000;
  --black-3: rgba(0, 0, 0, 0.8);
  --white-1: #ffffff;
  --black-2: #363636;
  --black-article: #727272;
  --blue-1: #f2f2ff;
  --blue-2: #0012a5;
  --gray-1: #ececec;
  --gray-2: #fafafa;
  --gray-3: #dfe2e3;
  --gray-4: #b4bcbd;
  --border-1: 1px solid rgba(114, 114, 114, 0.2);
  --border-2: 1px solid rgba(114, 114, 114, 0.1);
  --animation-time-1: all 0.5s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  font-family: inherit;
}

html {
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  line-height: 1.2;
  color: var(--black-1);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: 0.3s;
}

.container {
  width: 100%;
  max-width: 76.5rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

img {
  max-width: 100%;
  height: auto;
}



.header__search__mobile {
  display: none;
}

.burger__but {
  display: block;
}

.header__actions {
  display: none;
}

.header__nav {
  display: none;
}

.header__actions__mobile {
  display: flex;
}

.header__info {
  width: 100%;
}

@media (min-width: 998px) {
  .header__info {
    width: auto;
  }

  .header__content {
    flex-direction: column;
  }

  .header__search__mobile {
    margin-top: 8px;
    display: flex;
  }

  .burger__but {
    display: none;
  }

  .header__content {
    flex-direction: row;
  }

  .header__actions {
    display: flex;
  }

  .header__nav {
    display: flex;
  }
}

@media (min-width: 575px) {
  .header__info {
    column-gap: 3.125rem;
  }

  .drop-down-list {
    cursor: pointer;
  }

  .drop-down-list > .item__content {
    transition: all 0.5s;
    max-height: 0px;
    overflow: hidden;
  }

  .drop-down-list__active > .item__content {
    max-height: 500px;
  }

  .header__info {
    column-gap: 12px;
  }

  .header__media {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    width: auto;
  }

  .header__media {
    display: none;
  }

  .header__actions__mobile {
    display: flex;
  }

  .header__number,
  .header__ring {
    font-size: 12px;
  }
}

@media (min-width: 49rem) {
  .header__actions__mobile {
    display: none;
  }

  .header__media {
    display: flex;
  }
}

/*заголовок и хлебные крошки*/
.roof-article {
  margin-bottom: 6.25rem !important;
}

.main-title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(24px, 5vw, 50px);
  text-transform: uppercase;
  padding-top: 16px;
}

.main-title span {
  color: var(--accent);
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: var(--main-text-color);
}

.breadcrumbs__item {
  color: inherit;
  text-decoration: none;
  transition: color 0.15s;
  text-decoration: none;
}

.breadcrumbs__item--current {
  font-weight: 600;
  pointer-events: none;
}

.breadcrumbs__separator {
  color: var(--secondary-text-color);
}

.header__search__mobile {
  border: var(--border-2);
  border-radius: 12px;
  color: var(--gray-2);
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 6px;
  column-gap: 4px;
}

.header__actions__mobile {
  padding-top: 0.5rem;
  flex-direction: row;
  align-items: center;
  column-gap: 21px;
  justify-content: space-between;
}

.actions-mobile__but {
  text-wrap: nowrap;
  padding: 6px 10px;
  background-color: var(--main-color);
  color: var(--white-1);
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 2px;
  border-radius: 10px;
  border: none;
}

.actions__link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 8px;
}

.actions__link > * {
  display: block;
}

.header__search__mobile {
  border: var(--border-2);
  border-radius: 12px;
  color: var(--gray-2);
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 6px;
  column-gap: 4px;
}

.but__search__mobile {
  padding: 0px;
  border: none;
  background-color: transparent;
}

.search__input__mobile {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0px;
}

.menu__inner {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.menu__item {
  font-weight: 600;
  color: var(--black-2);
}

.header__main {
  background-color: var(--gray-2);
  padding: 1rem 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.info__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.header__info {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__phone {
  display: flex;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}

.header__number {
  margin-left: 4px;
  margin-right: 8px;
  text-wrap: nowrap;
  font-weight: 500;
}

.arrow__down::after {
  content: url(./img/icons/arr.svg);
}

.header__ring {
  color: var(--main-color);
  text-decoration: underline var(--main-color);
}

.header__media {
  flex-direction: row;
  column-gap: 8px;
}

.header__media > a {
  max-width: 24px;
}

.header__actions {
  flex-direction: row;
  align-items: center;
}

.header__search {
  margin-right: 0;
  transition: all 0.5s;
}

.search__input {
  background-color: var(--gray-2);
  outline: none;
  border: none;
  padding: 0px;
  width: 0px;
}

.but__search {
  padding: 0px;
  border: none;
  background-color: transparent;
}

.but__market {
  background-color: var(--blue-1);
  font-weight: 600;
  color: var(--main-color);
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.75rem;
  margin-right: 8px;
  transition: var(--animation-time-1);
  cursor: pointer;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.but__market::after {
  content: "⬈";
  color: var(--main-color);
}

.but__cost {
  border: none;
  border-radius: 0.75rem;
  padding: 1rem 1.5rem;
  background-color: var(--main-color);
  font-weight: 600;
  color: var(--white-1);
  transition: var(--animation-time-1);
  cursor: pointer;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: flex;
  gap: .5rem;
}
.but__cost img{
  width: 1.25rem;
  height: 1.25rem;
}
.comment-form__input-wrap input{
  font-size: 0.875rem;
}
.comment-form__textarea-wrap textarea{
  font-size: 0.875rem;
}
.but__market:hover {
  color: var(--white-1);
  background-color: var(--main-color);
}

.but__market:hover::after {
  color: var(--white-1);
}

.but__main__active:hover {
  background-color: var(--blue-2);
}

.but__blue__active:hover {
  color: var(--white-1);
  background-color: var(--main-color);
}

.but__blue__active:hover::after {
  color: var(--white-1);
}

.header__nav {
  border-top: var(--border-2);
  border-bottom: var(--border-2);
  background-color: var(--white-1);
}

.nav__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  padding: 1rem 0;
}

.nav__item {
  color: var(--black-2);
  font-weight: 600;
  cursor: pointer;
}

.nav__item:hover {
  color: var(--main-color);
}

.nav__item__active {
  color: var(--main-color);
}

.header__modal {
  position: absolute;
  background-color: var(--white-1);
  border: 1px solid var(--gray-1);
  border-radius: 16px;
  padding: 24px 24px 24px 24px;
  display: none;
  flex-direction: column;
  row-gap: 16px;
  top: 45px;
  z-index: 4;
}

.modal__item {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.item__title {
  display: flex;
  align-items: center;
  column-gap: 3px;
}

.modal__item:nth-child(n + 2) > .item__title > span {
  font-size: 14px;
  font-weight: 600;
}

.item__text {
  font-weight: 400;
  font-size: 14px;
  color: var(--black-2);
}

.header__modal__active {
  display: flex;
}

#modal__overlay {
  display: none;
  background-color: transparent;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.burger__but {
  cursor: pointer;
  position: relative;
  border: none;
  background: transparent;
  width: 34px;
  height: 26px;
}

.burger__but::after,
.burger__but::before {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: var(--main-color);
}

.burger__but::before {
  top: 0;
  box-shadow: 0 11px 0 var(--main-color);
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}

.burger__but::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}

.burger__but__active::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}

.burger__but__active::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}

/*footer*/

.contact-form {
  flex-shrink: 0;
  width: 100%;
  background: var(--white-1);
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 8px 26px rgba(0, 0, 0, 0.08);
}

.contact-form__logo {
  width: 120px;
}

.contact-form__title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 6px;
}

.contact-form__subtitle {
  font-size: 14px;
  line-height: 1.4;
  color: var(--black-2);
  margin-bottom: 20px;
}

.contact-form__input {
  width: 100%;
  padding: 14px 16px;
  font-size: 14px;
  border: 1px solid #dfe2f5;
  border-radius: 10px;
  background: var(--white-1);
  outline: none;
  margin-bottom: 16px;
  transition: border 0.2s;
}

.contact-form__input:focus {
  border-color: var(--main-color);
}

.contact-form__checkbox {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 24px;
}

.contact-form__checkbox input {
  margin-top: 2px;
  accent-color: var(--main-color);
}

.contact-form__checkbox a {
  color: var(--main-color);
  text-decoration: underline;
}

.contact-form__note {
  font-size: 12px;
  color: var(--main-color);
  line-height: 1.4;
  text-align: center;
  margin-top: 8px;
}

.feedback__but {
  background-color: var(--main-color);
  width: 100%;
  padding: 12px 20px;
  color: var(--white-1);
  border-radius: 12px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
}

.feedback__but:hover {
  transform: scale(0.97);
}


/* .footer__subtitle {
  font-size: 14px;
  font-weight: 600;
  margin: 20px 0 10px;
} */


.footer__list img {
  width: 16px;
  vertical-align: middle;
}

.footer__list a {
  font-size: 14px;
  color: #222;
  text-decoration: none;
  transition: opacity 0.2s;
}

.footer__list a:hover {
  opacity: 0.6;
}

.footer__text {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 14px;
  color: #333;
}

.footer__socials {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.footer__socials a img {
  width: 22px;
  height: 22px;
  display: block;
  transition: opacity 0.2s;
}

.footer__socials a:hover img {
  opacity: 0.7;
}

.footer__small {
  font-size: 12px;
  line-height: 1.5;
  color: var(--black-2);
}

.footer__small a {
  color: var(--black-2);
  text-decoration: underline;
}

@media (min-width: 769px) {
  .footer__inner {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (min-width: 1220px) {
  .contact-form {
    width: 335px;
  }
}

/*прайс лист*/

.price-list {
  overflow: hidden;
  color: var(--white-1);
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 30px;
  flex-direction: column;
}

.price-list__content-wrap {
  max-width: 100%;
  width: 100%;
  position: relative;
  padding-bottom: 36%;
}

.price-list__content-wrap:after {
  content: "";
  position: absolute;
  bottom: -15%;
  right: 0;
  width: 80%;
  height: 80%;
  background-image: url("./img/price-list.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.price-list__title {
  font-size: clamp(20px, 4vw, 40px);
  margin-bottom: 16px;
}

.price-list__text {
  font-size: 16px;
}

.price-form-wrapper {
  position: relative;
  z-index: 2;
}

.price-form {
  max-width: 100%;
  background: var(--blue-1);
  color: var(--black-1);
  padding: 32px;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.price-form__title {
  margin: 0 0 16px 0;
  font-size: 18px;
  font-weight: 600;
}

.price-form__radios {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.radio {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-size: 15px;
}

.radio input[type="radio"] {
  accent-color: var(--main-color);
  width: 18px;
  height: 18px;
}

.price-form__label {
  display: block;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 8px;
}

.price-form__input {
  width: 100%;
  padding: 14px 16px;
  font-size: 15px;
  border: 1px solid #dfe2f5;
  border-radius: 10px;
  color: var(--white-1);
  outline: none;
  transition: border 0.2s;
  margin-bottom: 24px;
}

.price-form__input:focus {
  border-color: var(--main-color);
}

.price-form__update {
  color: var(--main-color);
  margin-top: 16px;
  font-size: 14px;
}

@media (min-width: 920px) {
  .price-list {
    padding-top: 90px;
    padding-bottom: 90px;
    flex-direction: row;
    background-position: center;
  }

  .price-list__content-wrap {
    max-width: 550px;
    width: 50%;
    padding-bottom: 0;
  }

  .price-form {
    max-width: 520px;
  }

  .price-list__content-wrap::before {
    bottom: -90px;
    left: initial;
    right: -60px;
    width: 60%;
    height: 60%;
    transform: rotate(-40deg);
  }

  .price-list__content-wrap:after {
    bottom: -160px;
    right: -15%;
    width: 110%;
    height: 110%;
  }
}

/*статья*/
.roof-article__wrapper {
  margin-top: 32px;
}
.swiper-pagination{
  margin-top: 0 !important;
}
.swiper{
  margin-bottom: 1.5rem;
}
.article__meta {
  color: var(--black-article);
  font-size: 0.875rem;
  line-height: 1.7;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}
.article__meta div {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  flex-wrap: wrap;
}
.article__share-btn{
  display: flex;
  gap: 0.125rem;
  align-items: center;
  font-weight: 400;
}
.breadcrumb + .roof-article .roof-article__wrapper{
  margin-top: 2.25rem;
}
.article__meta img {
  width: 1rem;
  height: 1rem;
}
.article__meta img,
.article__share-btn img {
  vertical-align: middle;
}

.article__meta span {
  text-transform: capitalize;
  color: var(--main-color);
}

.article__share-btn {
  border: none;
  background-color: transparent;
  color: var(--black-article);
}

.article figure {
  margin: 0 0 1rem 0;
  max-width: 400px;
}

.article img {
  border-radius: 16px;
}

.article figcaption {
  text-align: center;
  font-size: 14px;
  color: var(--black-article);
  margin-top: 8px;
}
.article__image{
  margin-top: 1.5rem;
}
.article__img-wrapper {
  display: flex;
  gap: 1.5rem;
}

.article p,
.article ul {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.article h4 {
  margin-bottom: 1.5rem;
  margin-top: 2.5rem;
}

.article .article__video-frame {
  max-width: 480px;
}

video {
  max-width: 100%;
  border-radius: 16px;
}

.swiper.article__swiper {
  max-width: 400px;
  margin-left: 0;
}

.article__footer {
  margin-top: 40px;
}

.article__footer p {
  margin-bottom: 8px;
}

@media (min-width: 978px) {
  .article__meta,
  .article__footer {
    display: flex;
    justify-content: space-between;
  }

  /* .article figure {
    margin: 20px 0 24px;
  } */
}

.roof-article__related {
  display: none;
  order: 2;
}

.related-card {
  display: block;
  text-decoration: none;
  color: inherit;
  border-radius: 16px;
  border: 1px solid var(--gray-1);
  overflow: hidden;
  background-color: var(--gray-2);
  max-width: 400px;
  transition: all 0.3s ease;
}

.related-card:hover {
  transform: scale(0.98);
}

.related-image {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.related-content {
  padding: 16px;
}

.related-label {
  font-size: 12px;
  color: var(--main-color);
  text-transform: uppercase;
  margin-bottom: 8px;
  display: inline-block;
}

.related-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 0 8px 0;
  line-height: 1.3;
}

.related-text {
  font-size: 0.875rem;
  color: var(--black-article);
  margin-bottom: 12px;
  font-weight: 400;
}
.comment__top img{
  width: 1.5rem;
  height: 1.5rem;
}
.article__footer .article__share-btn{
  padding-top: 1rem;
}
.related-date {
  font-size: 12px;
  color: var(--black-article);
}

@media (min-width: 786px) {
  .roof-article__wrapper {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 60px;
    margin-top: 52px;
  }

  .roof-article__related {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

/*комментарии*/
.comments {
  max-width: 100%;
  margin-top: 40px;
  font-family: inherit;
}

.comments-header {
  display: flex;
  flex-direction: column;
}

.comment-form {
  margin: 20px 0;
  display: grid;
  gap: 12px;
}

.comment-form__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-form__close {
  background: none;
  border: none;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
  color: #000;
}

h3.comment-form__title {
  font-size: 1.125rem;
  margin-bottom: 0.75rem;
}

.comment-form__input-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.comment-form input,
.comment-form__textarea-wrap {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--white-1);
  border: 1px solid var(--gray-1);
  border-radius: 8px;
  font-size: 0.875rem;
}

.comment-form textarea {
  min-height: 100px;
  min-width: 100%;
  border: none;
}

.comment-form input:focus,
.comment-form textarea:focus {
  outline: none;
}

.comment-form input:focus-visible,
.comment-form__textarea-wrap:focus-visible {
  outline: 1px solid var(--black-article);
}

.hidden {
  display: none;
}

.comment-form__btn-send {
  justify-self: flex-end;
}

.comment-form__rating {
  color: var(--black-article);
}

.comment {
  margin-top: 16px;
  border-radius: 16px;
  padding: 20px;
  background-color: var(--gray-2);
}

.is-hidden {
  display: none;
}

.comment__avatar {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.comment__top {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 0.875rem;
  margin-bottom: 16px;
}

.comment__top div {
  display: flex;
  gap: .6rem;
  justify-content: space-between;
  align-items: center;
}

.comment__name {
  font-weight: 600;
}

.comment__time {
  color: var(--black-article);
}

.comment__stars {
  color: #ffb400;
}

.comment__actions {
  display: flex;
  gap: 16px;
  font-size: 0.875rem;
  color: var(--black-article);
  font-weight: 400;
}

.comment__actions button {
  border: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
  font-weight: 400;
}

.show-more {
  display: inline-block;
  margin-top: 16px;
  color: var(--black-article);
  cursor: pointer;
  text-decoration: underline;
  font-weight: 500;
}

.comment__replies {
  border-left: 2px solid var(--gray-1);
}

.comment__replies .comment {
  margin-top: 24px;
}
.article__title{
  font-size: 2rem;
}
@media (min-width: 49rem) {
  .comments-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .comment__top {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

}
 .comment-form__input-wrap {
    flex-direction: row;
  }
@media (max-width:48em) {
  .comments-header{
    display: grid;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
  .article__meta{
    display: grid;
    gap: 0.45rem;
  }
  .article__img-wrapper{
    gap: 0.5rem;
  }
  .article h4{
    margin-top: 1.7rem;
  }
  .comments-header h3{
    font-size: 1.25rem;
  }
  .but__market{
    font-size: 0.875rem;
  }
  .article__share-btn img{
    width: 1rem;
    height: 1rem;
  }
  .comments{
    margin-top: 2rem;
  }
  .breadcrumb + .roof-article .roof-article__wrapper{
    margin-top: 1rem;
  }
  .article__title{
    font-size: 1.5rem;
  }
  section {
    margin: 1rem 1rem 6rem 1rem !important;
  }
  .article__swiper figure{
    margin: 0 !important;
  }
}