:root {
  --main-color: #4153e4;
  --black-1: #000000;
  --black-3: rgba(0, 0, 0, 0.8);
  --white-1: #ffffff;
  --black-2: #363636;
  --blue-1: #f2f2ff;
  --blue-2: #0012a5;
  --gray-1: #ececec;
  --gray-2: #fafafa;
  --gray-3: #dfe2e3;
  --gray-4: #b4bcbd;
  --border-1: 1px solid rgba(114, 114, 114, 0.2);
  --border-2: 1px solid rgba(114, 114, 114, 0.1);
  --animation-time-1: all 0.5s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  line-height: 1.2;
  color: var(--black-1);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: 0.3s;
}

.container {
  width: 100%;
  max-width: 76.5rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

.img {
  width: 100%;
  height: auto;
}

.header__search__mobile {
  border: var(--border-2);
  border-radius: 12px;
  color: var(--gray-2);
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 6px;
  column-gap: 4px;
}

.header__actions__mobile {
  padding-top: 0.5rem;
  flex-direction: row;
  align-items: center;
  column-gap: 21px;
  justify-content: space-between;
}

.actions-mobile__but {
  text-wrap: nowrap;
  padding: 6px 10px;
  background-color: var(--main-color);
  color: var(--white-1);
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 2px;
  border-radius: 10px;
  border: none;
}

.actions__link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 8px;
}

.actions__link > * {
  display: block;
}

.header__search__mobile {
  border: var(--border-2);
  border-radius: 12px;
  color: var(--gray-2);
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 6px;
  column-gap: 4px;
}

.but__search__mobile {
  padding: 0px;
  border: none;
  background-color: transparent;
}

.search__input__mobile {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0px;
}


.menu__inner {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.menu__item {
  font-weight: 600;
  color: var(--black-2);
}

.header__main {
  background-color: var(--gray-2);
  padding: 1rem 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.info__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.header__info {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__phone {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header__number {
  margin-left: 4px;
  margin-right: 8px;
  text-wrap: nowrap;
  font-weight: 500;
}

.arrow__down::after {
  content: url(./img/icons/arr.svg);
}

.header__ring {
  color: var(--main-color);
  text-decoration: underline var(--main-color);
}

.header__media {
  flex-direction: row;
  column-gap: 8px;
}

.header__media > a {
  max-width: 24px;
}

.header__actions {
  flex-direction: row;
  align-items: center;
}

.header__search {
  margin-right: 0;
  transition: all 0.5s;
}

.search__input {
  background-color: var(--gray-2);
  outline: none;
  border: none;
  padding: 0px;
  width: 0px;
}

.but__search {
  padding: 0px;
  border: none;
  background-color: transparent;
}

.but__market {
  background-color: var(--blue-1);
  font-weight: 600;
  color: var(--main-color);
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.75rem;
  margin-right: 8px;
  transition: var(--animation-time-1);
}

.but__market::after {
  content: "⬈";
  color: var(--main-color);
}

.but__cost {
  border: none;
  border-radius: 0.75rem;
  padding: 1rem 1.5rem;
  background-color: var(--main-color);
  font-weight: 600;
  color: var(--white-1);
  transition: var(--animation-time-1);
  cursor: pointer;
}

.but__market:hover {
  color: var(--white-1);
  background-color: var(--main-color);
}

.but__market:hover::after {
  color: var(--white-1);
}

.but__main__active:hover {
  background-color: var(--blue-2);
}

.but__blue__active:hover {
  color: var(--white-1);
  background-color: var(--main-color);
}

.but__blue__active:hover::after {
  color: var(--white-1);
}

.header__nav {
  border-top: var(--border-2);
  border-bottom: var(--border-2);
  background-color: var(--white-1);
}

.nav__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  padding: 1rem 0;
}

.nav__item {
  color: var(--black-2);
  font-weight: 600;
  cursor: pointer;
}

.nav__item:hover {
  color: var(--main-color);
}

.nav__item__active {
  color: var(--main-color);
}

.header__modal {
  position: absolute;
  background-color: var(--white-1);
  border: 1px solid var(--gray-1);
  border-radius: 16px;
  padding: 24px 24px 24px 24px;
  display: none;
  flex-direction: column;
  row-gap: 16px;
  top: 45px;
  z-index: 4;
}

.modal__item {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.item__title {
  display: flex;
  align-items: center;
  column-gap: 3px;
}

.modal__item:nth-child(n + 2) > .item__title > span {
  font-size: 14px;
  font-weight: 600;
}

.item__text {
  font-weight: 400;
  font-size: 14px;
  color: var(--black-2);
}

.header__modal__active {
  display: flex;
}

#modal__overlay {
  display: none;
  background-color: transparent;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.burger__but {
  cursor: pointer;
  position: relative;
  border: none;
  background: transparent;
  width: 34px;
  height: 26px;
}

.burger__but::after,
.burger__but::before {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: var(--main-color);
}

.burger__but::before {
  top: 0;
  box-shadow: 0 11px 0 var(--main-color);
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}

.burger__but::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}

.burger__but__active::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}

.burger__but__active::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}

/*footer*/


.contact-form {
  flex-shrink: 0;
  width: 100%;
  background: var(--white-1);
  padding: 24px;
  border-radius: 20px;
  box-shadow: 0 8px 26px rgba(0, 0, 0, 0.08);
}

.contact-form__logo {
  width: 120px;
}

.contact-form__title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 6px;
}

.contact-form__subtitle {
  font-size: 14px;
  line-height: 1.4;
  color: var(--black-2);
  margin-bottom: 20px;
}

.contact-form__input {
  width: 100%;
  padding: 14px 16px;
  font-size: 14px;
  border: 1px solid #dfe2f5;
  border-radius: 10px;
  background: var(--white-1);
  outline: none;
  margin-bottom: 16px;
  transition: border 0.2s;
}

.contact-form__input:focus {
  border-color: var(--main-color);
}

.contact-form__checkbox {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 24px;
}

.contact-form__checkbox input {
  margin-top: 2px;
  accent-color: var(--main-color);
}

.contact-form__checkbox a {
  color: var(--main-color);
  text-decoration: underline;
}

.contact-form__note {
  font-size: 12px;
  color: var(--main-color);
  line-height: 1.4;
  text-align: center;
  margin-top: 8px;
}

.footer__inner {
  display: grid;
  grid-template-columns: 100%;
  gap: 20px;
}

.footer__title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}

.footer__subtitle {
  font-size: 14px;
  font-weight: 600;
  margin: 20px 0 10px;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__list li {
  margin-bottom: 8px;
}

.footer__list img {
  width: 16px;
  vertical-align: middle;
}

.footer__list a {
  font-size: 14px;
  color: #222;
  text-decoration: none;
  transition: opacity 0.2s;
}

.footer__list a:hover {
  opacity: 0.6;
}

.footer__text {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 14px;
  color: #333;
}

.footer__socials {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.footer__socials a img {
  width: 22px;
  height: 22px;
  display: block;
  transition: opacity 0.2s;
}

.footer__socials a:hover img {
  opacity: 0.7;
}

.footer__small {
  font-size: 12px;
  line-height: 1.5;
  color: var(--black-2);
}

.footer__small a {
  color: var(--black-2);
  text-decoration: underline;
}


@media (min-width: 1220px) {
  .contact-form {
    width: 335px;
  }
}

/*прайс лист*/

.price-list__content-wrap {
  max-width: 100%;
  width: 100%;
  position: relative;
  padding-bottom: 36%;
  margin-top: 3.813rem;
}

.price-list__content-wrap:after {
  content: "";
  position: absolute;
  bottom: -10%;
  right: 0;
  width: 60%;
  height: 60%;
  background-image: url("./img/qest-mark.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 4;
}

.price-list__title {
  font-size: clamp(20px, 4vw, 40px);
  margin-bottom: 16px;
}

.price-list__text {
  font-size: 16px;
}

.price-form-wrapper {
  position: relative;
  z-index: 2;
}

.price-form {
  max-width: 100%;
  background: var(--blue-1);
  color: var(--black-1);
  padding: 32px;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.price-form__title {
  margin: 0 0 16px 0;
  font-size: 18px;
  font-weight: 600;
}

.price-form__radios {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.radio {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-size: 15px;
}

.radio input[type="radio"] {
  accent-color: var(--main-color);
  width: 18px;
  height: 18px;
}

.price-form__label {
  display: block;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 8px;
}

.price-form__input {
  width: 100%;
  padding: 14px 16px;
  font-size: 15px;
  border: 1px solid #dfe2f5;
  border-radius: 10px;
  color: var(--white-1);
  outline: none;
  transition: border 0.2s;
  margin-bottom: 24px;
}

.price-form__input:focus {
  border-color: var(--main-color);
}

.price-form__update {
  color: var(--main-color);
  margin-top: 8px;
}

@media (min-width: 920px) {
  .price-list {
    padding-top: 90px;
    padding-bottom: 90px;
    flex-direction: row;
    background-position: center;
  }

  .price-list__content-wrap {
    max-width: 550px;
    width: 50%;
    padding-bottom: 0;
  }

  .price-form {
    max-width: 520px;
  }
  .price-list__content-wrap:after {
    bottom: 60px;
    right: 15%;
    width: 60%;
    height: 60%;
  }
}

/*cards*/
.delivery {
  padding-top: 24px;
  padding-bottom: 80px;
  background: #fff;
  color: #0b0b0b;
}

.delivery__title {
  margin: 0 0 10px;
  font-size: clamp(20px, 4vw, 40px);
  line-height: 1.05;
  font-weight: 700;
}

.delivery__subtitle {
  margin: 0 0 24px;
  max-width: 900px;
  font-size: 14px;
  line-height: 1.6;
}

.delivery__grid {
  display: grid;
  grid-template-columns: 1fr;
  /* mobile: one column */
  gap: 14px;
}

/* Card */
.delivery-card {
  border: 1px solid #ECECEC;
  border-radius: 14px;
  background: var(--gray-2);
  padding: 18px 18px 16px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.delivery-card__title {
  margin: 16px 0 10px;
  font-size: 20px;
  line-height: 1.25;
  font-weight: 600;
}

.delivery-card__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.55;
}

.delivery-card__list {
  margin: 0;
  padding-left: 18px;
  font-size: 16px;
  line-height: 1.55;
  list-style: disc;
}

.delivery-card__list li + li {
  margin-top: 6px;
}

.delivery-card__link {
  color: #2f62ff;
  text-decoration: none;
}

.delivery-card__link:hover {
  text-decoration: underline;
}

@media (min-width: 49rem) {
  .delivery {
    padding-top: 52px;
    padding-bottom: 90px;
  }

  .delivery__subtitle {
    margin-bottom: 52px;
  }

  .delivery__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
  }

  .delivery-card {
    padding: 24px 24px 48px;
  }

  .delivery-card__title {
    font-size: 20px;
  }
}

/*returns*/
.return {
  padding-top: 20px;
  padding-bottom: 80px;
}

.return__title {
  margin: 0 0 16px;
  font-size: clamp(20px, 4vw, 40px);
  line-height: 1.05;
  font-weight: 700;
}

.return__block {
  padding: 16px 0;
}

.return__subtitle {
  margin: 0 0 16px;
  font-size: 1rem;
  line-height: 1.35;
  font-weight: 700;
}

.return__span {
  color: var(--main-color);
}

.return__text {
  font-size: 1rem;
  line-height: 1.65;
}

.return__text--bold {
  font-weight: 600;
  margin-top: 16px;
}

.return__list {
  list-style: disc;
  padding-left: 18px;
  font-size: 1rem;
  line-height: 1.65;
}

@media (min-width: 49rem) {
  .return {
    padding-bottom: 6rem;
  }

  .return__subtitle {
    font-size: 1.25rem;
  }

  .return__block {
    padding: 20px 0;
  }
}

.main-title {
  padding-top: 0;
  padding-bottom: 52px;
}
@media (max-width: 48em) {
  .main-title {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.price-list {
  overflow: hidden;
  color: var(--white-1);
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 30px;
  flex-direction: column;
}

.price-list__content-wrap {
  max-width: 100%;
  width: 100%;
  position: relative;
  padding-bottom: 36%;
}

.price-list__content-wrap::before {
  content: "";
  position: absolute;
  bottom: -5%;
  left: 10%;
  width: 40%;
  height: 40%;
  transform: rotate(20deg);
  background-image: url("./img/arrow-form.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
}
.price-list__content-wrap img {
  position: absolute;
  bottom: 3rem;
  width: 14.264rem;
  height: 14.264rem;
  right: 4rem;
  z-index: 4;
}
.price-list__content-wrap:after {
  content: "";
  position: absolute;
  bottom: -10%;
  right: 0;
  width: 60%;
  height: 60%;
  background-image: url("./img/qest-mark.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 4;
  display: none;
}

.price-list__title {
  font-size: clamp(20px, 4vw, 40px);
  margin-bottom: 16px;
}

.price-list__text {
  font-size: 16px;
}

.price-form-wrapper {
  position: relative;
  z-index: 2;
}

.price-form {
  max-width: 100%;
  background: var(--blue-1);
  color: var(--black-1);
  padding: 32px;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.price-form__title {
  margin: 0 0 16px 0;
  font-size: 18px;
  font-weight: 600;
}

.price-form__radios {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.radio {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-size: 15px;
}

.radio input[type="radio"] {
  accent-color: var(--main-color);
  width: 18px;
  height: 18px;
}

.price-form__label {
  display: block;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 8px;
}

.price-form__input {
  width: 100%;
  padding: 14px 16px;
  font-size: 15px;
  border: 1px solid #dfe2f5;
  border-radius: 10px;
  color: var(--white-1);
  outline: none;
  transition: border 0.2s;
  margin-bottom: 24px;
}

.price-form__input:focus {
  border-color: var(--main-color);
}

.price-form__update {
  color: var(--main-color);
  margin-top: 8px;
}

@media (min-width: 920px) {
  .price-list {
    padding-top: 90px;
    padding-bottom: 90px;
    flex-direction: row;
    background-position: center;
  }

  .price-list__content-wrap {
    max-width: 550px;
    width: 50%;
    padding-bottom: 0;
  }

  .price-form {
    max-width: 520px;
  }

  .price-list__content-wrap::before {
    bottom: -4rem;
    left: initial;
    right: -6rem;
    width: 40%;
    height: 60%;
    transform: rotate(-40deg);
  }

  .price-list__content-wrap::after {
    bottom: 60px;
    right: 15%;
    width: 60%;
    height: 60%;
  }
}

/*cards*/
.delivery {
  padding-top: 24px;
  padding-bottom: 80px;
  background: #fff;
  color: #0b0b0b;
}

.delivery__title {
  margin: 0 0 10px;
  font-size: 2.5rem;
  line-height: 1.05;
  font-weight: 700;
}

.delivery__subtitle {
  margin: 0 0 24px;
  max-width: 900px;
  font-size: 0.875rem;
  line-height: 1.6;
}

.delivery__grid {
  display: grid;
  grid-template-columns: 1fr;
  /* mobile: one column */
  gap: 14px;
}

/* Card */
.delivery-card {
  border: 1px solid #eef0f3;
  border-radius: 14px;
  background: var(--gray-2);
  padding: 1.5rem;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}

.delivery-card__title {
  margin: 16px 0 10px;
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 700;
}

.delivery-card__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.55;
}

.delivery-card__list {
  margin: 0;
  padding-left: 18px;
  font-size: 16px;
  line-height: 1.55;
  list-style: disc;
}

.delivery-card__list li + li {
  margin-top: 6px;
}

.delivery-card__link {
  color: #2f62ff;
  text-decoration: none;
}

.delivery-card__link:hover {
  text-decoration: underline;
}

@media (min-width: 49rem) {
  .delivery {
    padding-top: 0;
    padding-bottom: 90px;
  }

  .delivery__subtitle {
    margin-bottom: 52px;
    font-size: 1rem;
    line-height: normal;
  }

  .delivery__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
  }

  .delivery-card {
    padding: 1.5rem;
  }

  .delivery-card__title {
    font-size: 1.22rem;
  }
}

/*payment cards*/
.cards {
  padding-top: 1.25rem;
  padding-bottom: 80px;
}

.pay__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pay__grid-item {
  width: calc(50% - 8px);
  background-color: var(--gray-2);
  border: 1px solid var(--gray-1);
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pay__card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.pay__grid-item:hover {
  transform: scale(0.97);
}

.pay__card-title {
  font-size: 0.875rem;
}

@media (min-width: 49rem) {
  .cards {
    padding-bottom: 90px;
  }

  .pay__grid-item {
    width: calc(33% - 20px);
  }

  .pay__card {
    padding: 24px;
  }

  .pay__card-title {
    font-size: 1.125rem;
  }
}

@media (min-width: 1020px) {
  .pay__grid-item {
    width: calc(25% - 18px);
  }
}

/*popup*/
.popup {
  position: fixed;
  inset: 0;
  z-index: 15;
  width: 100%;
  background: #ffffff;
  padding: 6rem 0;
  box-sizing: border-box;
  color: #000;
  display: none;
}
.popup .container {
  position: relative;
  
}

.popup-close {
  position: absolute;
  top: -4rem;
  right: 0;
  background: transparent;
  border: none;
  font-size: 52px;
  line-height: 1;
  cursor: pointer;
}

.popup-header {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 16px;
}

.popup-logo {
  width: 70%;
  max-width: 322px;
  flex-shrink: 0;
}

.popup-title {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.popup-content {
  font-size: 14px;
  line-height: 1.5;
}

.popup-subtitle {
  font-size: 16px;
  font-weight: 700;
  margin: 20px 0 8px;
}

.popup-list {
  margin: 0 0 12px 0;
}

.popup-list:has(li) {
  padding-left: 15px;
}

.popup-list li {
  margin-bottom: 6px;
  list-style-type: disc;
}

@media (min-width: 49rem) {
  .popup {
    padding: 4rem 0;
  }

  .popup-header {
    gap: 52px;
  }

  .popup-title {
    font-size: 40px;
  }

  .popup-subtitle {
    font-size: 20px;
    margin: 24px 0 16px;
  }
}

@media (min-width: 1020px) {
  .popup {
    padding: 6rem 0;
  }
}

.is-active {
  display: block;
}
.delivery-card__icon img {
  width: 2.5rem;
  height: 2.5rem;
}
@media (max-width: 48em) {
  .price-list__content-wrap img {
    bottom: 0;
    width: 7.6rem;
    height: 7.6rem;
    right: 0;
  }
  .delivery__grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 18px;
  }
  .price-list--bg {
    margin: 0 !important;
  }
  .price-list {
    padding: 1rem;
  }
  .delivery-card__icon img {
    width: 2rem;
    height: 2rem;
  }
  .delivery__title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  .pay__grid {
    gap: 0.5rem;
  }
  .pay__grid-item {
    width: 10.438rem;
    border-radius: 1rem;
  }
  .pay__card {
    padding: 1rem;
  }
  .pay__grid-item img {
    border-radius: 1rem;
  }
  .pay__card-title {
    font-size: 0.875rem;
  }
  .price-list--bg .price-list__title {
    font-size: 1.5rem;
  }
  .popup .container {
    /* margin: 1.25rem 1rem 6rem 1rem; */
  }
  .popup-close {
    top: -5rem;
  }
  .delivery-card__title {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 1rem;
  }
  .delivery-card{
    border-radius: 1rem;
  }
  .delivery-card__list,
  .delivery-card__text {
    font-size: 1rem;
    margin-top: 0.5rem;
    line-height: normal;
  }
  .return__text {
    line-height: normal;
    margin-bottom: 1rem;
  }
  section {
    margin: 1rem 1rem 6rem 1rem !important;
  }
  .price-list__content-wrap {
    margin-top: 0;
  }
}
